<%= form_for declaration do |f| %>
  <div class = "form">
    <div class = "form__item">
      <%= f.label :what, "今から何をしますか？" %>
      <%= f.text_field :what, placeholder: '本当にやりたいことをやりましょう！', class: "declaration__field" %>
      <% if declaration.errors.any?%>
        <div class = "error__messages-user">
          <%= declaration.errors.full_messages_for(:what).first%>
        </div>
      <% end %>
    </div>

    <div class = "form__item">
      <%= f.label :why, "何のためにしますか？" %>
      <%= f.text_field :why, placeholder: '理由をよく考えましょう！', class: "declaration__field" %>
    </div>

    <div class = "form__item">
      <%= f.label :time, "時間をどれだけ使いますか？" %>
      <%= f.text_field :time, placeholder: '1日の時間を意識しましょう！', class: "declaration__field" %>
    </div>

    <div class = "form__item">
      ＊上記３点を入力したら、「開始する」ボタンでストップウォッチをスタートさせましょう！「記録する」ボタンで次のアクションに進みましょう！
    </div>

    
    <%= f.hidden_field :score, id: "score" %>

    <%= f.hidden_field :start, id: "start__time" %>

    <%= f.hidden_field :end, id: "end__time" %>

    <div id="timer">00：00：00</div>
    <div class = "stopwatch__button">
      <button id="start">開始する</button> 
      <%= f.submit "記録する", class: "link__record" %>
    </div>
  </div>
<% end %>

