<%= form_with(model: declaration, local: true) do |form| %>
  <% if declaration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(declaration.errors.count, "error") %> prohibited this declaration from being saved:</h2>

      <ul>
      <% declaration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

  <%= form_for declaration do |f| %>
    <div class = "form">

      <div class = "what">
        <%= f.label :what, "今から何をしますか？" %>
        <%= f.text_field :what, placeholder: '本当にやりたいことをやりましょう', class: "what__field" %>
      </div>

      <div class = "why">
        <%= f.label :why, "何のためにするのですか？" %>
        <%= f.text_field :why, placeholder: '何故なのかよく考えましょう', class: "why__field" %>
      </div>

      <div class = "time">
        <%= f.label :time, "目標の時間を入力してください" %>
        <%= f.text_field :time, placeholder: '目標時間に入力しましょう', class: "time__field" %>
      </div>

      
      <%= f.hidden_field :score, id: "score" %>


      <div id="timer">00時間00分00秒</div>
      <div class = "stopwatch__button">
        <button id="start">start</button> 
        <button id="stop" disabled>stop</button>
        <button id="reset">reset</button>
      </div>

      <div class = "end__field">
        <%= f.submit "記録する", class: "record" %>
        <%= link_to '終了する', score_declarations_path, class: "end__button" %>
      </div>

    </div>
  <% end %>

