<p id="notice"><%= notice %></p>

<h1>あなたの時間をマネジメントしよう！</h1>

<h2>このアプリはあなたの人生（＝時間）を有意義なものに導きます</h2>
<h3>＜使い方＞
  <li>①何のための時間にするのか</li>
  <li>②なぜそのアクションをするのか</li>
  <li>③どれだけの時間を使うか</li>
  <br>以上の３点を考え、入力してください！
</h3>

<h3>＜ポイント＞
  <br>自分の時間を使うということは、自分の人生を使うということをよく考えて行動しよう！
</h3>

<table>
  <thead>
    <tr>
      <th>What</th>
      <th>Why</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @declarations.each do |declaration| %>
      <tr>
        <td><%= declaration.what %></td>
        <td><%= declaration.why %></td>
        <td><%= declaration.time %></td>
        <td><%= link_to 'Show', declaration %></td>
        <td><%= link_to 'Edit', edit_declaration_path(declaration) %></td>
        <td><%= link_to 'Destroy', declaration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Let's Go!!!", new_declaration_path %>
