<table>
  <thead>
    <tr>
      <th>何を</th>
      <th>何のための</th>
      <th>目標時間</th>
      <th>アクション時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @declarations.each do |declaration| %>
      <tr>
        <td><%= declaration.what %></td>
        <td><%= declaration.why %></td>
        <td><%= declaration.time %></td>
        <td><%= declaration.score %></td>
        
        <td><%= link_to 'Show', declaration %></td>
        <td><%= link_to 'Edit', edit_declaration_path(declaration) %></td>
        <td><%= link_to 'Destroy', declaration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Good Morning!!", new_declaration_path %>
<%= link_to "明日へ!!", "/declarations/#{@declarations.ids}", method: :delete %>