<%= render 'shared/header' %>

<h1 class = "score__title">Today's Activity Record</h1>

<h2 class = "score__subtitle">〜 一日を振り返り、明日からの時間の使い方に生かそう！ 〜</h2>

<table align = "center" >
  <thead>
    <tr>
      <th>When</th>
      <th>What</th>
      <th>Why</th>
      <th>Time</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% @declarations.each do |declaration| %>
      <tr>
        <td><%= declaration.start %> - <%= declaration.end %></td>
        <td><%= declaration.what %></td>
        <td><%= declaration.why %></td>
        <td><%= declaration.time %></td>
        <td><%= declaration.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "record__field">
  <%= link_to "Start!!", new_declaration_path, class: "link__start" %>
  <%= link_to "今日を終了", "/declarations/#{@declarations.ids}", method: :delete, class: "link__delete" %>
</div>