<p id="notice"><%= notice %></p>

<p>
  <strong>What:</strong>
  <%= @declaration.what %>
</p>

<p>
  <strong>Why:</strong>
  <%= @declaration.why %>
</p>

<p>
  <strong>Time:</strong>
  <%= @declaration.time %>
</p>

<p>
  <strong>Score:</strong>
  <%= @declaration.score %>
</p>

<%= link_to '次のアクション', new_declaration_path(@declaration) %> |
<%= link_to 'Good Night!!', declarations_path %>