<%= render "shared/header" %>

<div class = "title">
  <h1 class = "title__main-title">Account Edit Form</h1>
  <h2 class = "title__sub-title">〜 アカウント編集 〜</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :name, "お名前" %>
    <%= f.text_field :name, autofocus: true, class: "field__area", autocomplete: "name" %>
    <% if resource.errors.any?%>
      <div class = "error__messages-user">
        <%= resource.errors.full_messages_for(:name).first%>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, class: "field__area", autocomplete: "email" %>
    <% if resource.errors.any?%>
      <div class = "error__messages-user">
        <%= resource.errors.full_messages_for(:email).first%>
      </div>
    <% end %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, class: "field__area", autocomplete: "new-password" %>
    <% if resource.errors.any?%>
      <div class = "error__messages-user">
        <%= resource.errors.full_messages_for(:password).first%>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード再入力" %>
    <%= f.password_field :password_confirmation, class: "field__area", autocomplete: "new-password" %>
    <% if resource.errors.any?%>
      <div class = "error__messages-user">
        <%= resource.errors.full_messages_for(:password_confirmation).first%>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <br>
    <em>必須</em>
    <br>
    <%= f.password_field :current_password, class: "field__area", autocomplete: "current-password" %>
    <% if resource.errors.any?%>
      <div class = "error__messages-user">
        <%= resource.errors.full_messages_for(:current_password).first%>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "変更する", class: "actions__btn" %>
  </div>
<% end %>


